body {
  background: #63cdda;
}

.App {
  background: #22a6b3;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #e77f67;
}

.navbar h1 {
  margin: 10px 0;
}

.book-list {
  margin: 15px;
  padding: 15px 20px;
}

.book-list ul {
  padding: 0;
  list-style-type: none;
}

.book-list li {
  background: #cf6a87;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.book-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

.book-list .title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.book-list .author {
  font-size: 0.9em;
  color: #ddd;
}

.empty {
  font-size: 1.5em  ;
  margin: 20px;
  text-align: center;
  color: #000;
}
